rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token.phone_number in [
          "+917729911578",
          "+919999999991"
        ];
    }

    function isOrderOwner() {
      return isSignedIn()
        && resource.data.userId == request.auth.uid;
    }

    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /orders/{orderId} {
      allow create: if isSignedIn()
        && request.resource.data.userId == request.auth.uid;

      allow read: if isAdmin() || isOrderOwner();

      allow update: if isAdmin();

      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
